@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');
header{
    background-color: #D9B08C;
    color: white;
    height: 100px;
}
footer {
    background-color: #116466;
    color: white;
    height: 100px;
    font-size: larger;   
    width: 100%; 
}
.header{
    position: relative;
    top: 40px;
    left: 50px;
    font-size: larger;
    font-family: Asap, sans-serif;
}
h3{
    position: relative;
    left: 50px;
    font-family: Asap, sans-serif;
    font-size: x-large;
}
.home{
    position: relative;
    left: 1100px;
    bottom: 10px;
    font-size: larger;
    font-family: Asap, sans-serif;
}
.zackwords{
    position: relative;
    left: 290px;
    top: 140px;
    font-family: Asap, sans-serif;
}
.zackimage{
    position: relative;
    left: 50px;
    border: 1px solid black;
    width: 200px;

}
.deepwords{
    position: relative;
    left: 1050px;
    bottom: 170px;
    font-family: Asap, sans-serif;

}
.deepimage{
    position: relative;
    left: 800px;
    bottom: 300px;
    border: 1px solid black;
    width: 200px;
}
.kevinimage{
    position: relative;
    bottom: 300px;
    left: 50px;
    
}
.kevinwords{
    position: relative;
    left: 290px;
    bottom: 150px;
    font-family: Asap, sans-serif;
}
.koyiewords{
    position: relative;
    left: 1050px;
    bottom: 490px;
    font-family: Asap, sans-serif;
}
.koyieimage{
    position: relative;
    left: 800px;
    bottom: 650px;
    
}
.calebwords{
    position: relative;
    left: 290px;
    bottom: 390px;
    font-family: Asap, sans-serif;
}
.calebimage{
    position: relative;
    bottom: 580px;
    left: 50px;
    
}