@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500;700&display=swap');
body {
    background-color: #D9B08C;

}
h1 {
    color: white;
    font-family: Asap, sans-serif;
    position: relative;
    
}
h3{
    color: #D9B08C;
    font-family: Asap, sans-serif;
    position: relative;
    left: 15px;
}
p{
    position: relative;
    left: 15px;
}
footer {
    background-color: #116466;
    color: white;
    height: 100px;
    font-size: larger;   
    width: 100%; 
}
.lock{
    height: 100px;
    position: relative;
    left: 450px;
    bottom: 150px;
    z-index: 500;
   
}
.section2 {
    background-color: #EEEEEE;
    
}
.decrypt{
   position: relative;
   left: 100px;
   top: 50px;
}
button{
    background-color: #116466;
    color: white;
    border-radius: 12px;
    width: 80px;
    position: relative;
    left: 250px;
}
.click{
    position: relative;
    left: 950px;
    top: 50px;
    font-size: x-large;
}
.name{
    position: relative;
    top: 50px;
    
}